
@{
    Layout = null;
    Harvin.Models.Automovel a  = ViewBag.a;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div> 
        @a.AutomovelModelo
    </div>
</body>
</html>
